
h3 {
  text-align: center;
}
#timer {
  font-size: 60px;
  text-align: center;
  margin-top: 50px;
}
.all {
  text-align: center;
}
#start, #stop, #reset {
  width: 100px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
}